<section class="row main-content">
    <div class="span12">
        <div class="page-header">
            <div class="pull-left" style="width: 80px; top: 30px" >
                <a href="#">
                    <p><i class="cssIcon-chevron-r-b" style=" float: left; margin-right: 10px; margin-top: 2px;"></i>Back</p></a>
            </div>
            <h1>New URL</h1>
        </div>
        <hr class="hr-large">

        <div class="row-fluid-nowrap content-pad">
            <form>
                <label for="category">Category</label>
                <div class="field-group">
                    <select id="category"  ng-model="url.category" class="selectpicker span12" ng-options="c for c in categories"></select>                    
                </div>
                <label for="url_name">URL Name</label>  
                <div class="field-group">
                    <input type="text" id="url_name" placeholder="ex: MyURL" class="span12" ng-model="url.urlName"/>
                    <button type="button" class="reset-field hide-text">Reset field</button>
                </div>
                <label for="vanity_url">Custom URL</label>
                <div class="field-group">
                    <input type="text" id="vanity_url" placeholder="ex: www.att.com/myurl" class="span12" ng-model="url.vanityurl">
                    <button type="button" class="reset-field hide-text">Reset field</button>
                </div>
                <label for="long_url">My Long URL</label>
                <span class="field-group block">
                    <textarea rows="3" class="span12" id="long_url" placeholder="ex: www.att.com/myurl" ng-model="url.longurl"></textarea>
                    <button type="button" class="reset-field hide-text">Reset field</button>
                </span>

                <label for="expired_url">I can help you with that text.</label>
                <span class="field-group block">
                    <textarea rows="3" class="span12" id="description" placeholder="Tell you're user how this link helps them." ng-model="url.description" ></textarea>
                    <button type="button" class="reset-field hide-text">Reset field</button>
                </span>

                <label for="expired_url">If Expired URL</label>
                <span class="field-group block">
                    <textarea rows="3" class="span12" id="expired_url" placeholder="ex: www.att.com/myurl" ng-model="url.expiredurl" ></textarea>
                    <button type="button" class="reset-field hide-text">Reset field</button>
                </span>
                <label for="exp_date">Expiration Date</label>
                <div class="col-md-6">
                    <p class="input-group">
                        <input type="text" class="form-control" placeholder="dd-MM-yyyy" datepicker-popup="dd-MM-yyyy" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <div class="row-fluid-nowrap content-pad span12">

                    <div class="row-fluid-nowrap span6">
                        <button class="btn btn-large btn-large btn-block" type="button" ng-click="getURL()" ng-hide="(shorturl.length < 1)">Get Short URL</button>
                        <button class="btn btn-large btn-large btn-block" type="button" ng-click="getURL()" ng-hide="!(shorturl.length < 1)">Preview: http://att.com/r/{{shorturl}}</button>
                    </div>
                    <div class="row-fluid-nowrap span6">
                        <button class="btn btn-large btn-large btn-block" type="button" ng-click="$location.url('home')">Go Back</button>
                    </div>
                </div>
            </form>
        </div>

        <hr class="hr-large">

    </div>
</section>