<section class="row main-content">
    <div class="span12">
        <div class="page-header">
            <div class="pull-left">
                <a href="#">
                    <p><i class="cssIcon-chevron-r-b"></i>Back</p></a>
            </div>
            <h1>New URL</h1>
        </div>
        <hr class="hr-large">

        <div class="row-fluid-nowrap content-pad">
            <form>
                
                <label for="long_url">URL to Shorten</label>
                <span class="field-group block">
                    <textarea rows="3" class="span12" id="long_url" placeholder="ex: http://www.att.com/mylongurl" ng-model="url.longurl"></textarea>
                    <button type="button" class="reset-field hide-text">Reset field</button>
                </span>
                
                <label for="category">Category</label>
                <div class="field-group">
                    <select id="category"  ng-model="url.category" class="mod-select selectpicker span12" ng-options="c for c in categories"></select>                    
                </div>
                
                <label for="url_name">How do you want to remember this url.</label>  
                <div class="field-group">
                    <input type="text" id="url_name" placeholder="ex: MyURL" class="span12" ng-model="url.urlName"/>
                    <button type="button" class="reset-field hide-text">Reset field</button>
                </div>
                
                <label for="vanity_url">Custom URL</label>
                <div class="field-group">
                    <input type="text" id="vanity_url" placeholder="ex: Product-Name" class="span12" ng-model="url.vanityurl">
                    <button type="button" class="reset-field hide-text">Reset field</button>
                </div>

                <label for="description">I can help you with that text.</label>
                <span class="field-group block">
                    <textarea rows="3" class="span12" id="description" placeholder="Tell your user how this link helps them." ng-model="url.description" ></textarea>
                    <button type="button" class="reset-field hide-text">Reset field</button>
                </span>

                <label for="expired_url">If Expired URL</label>
                <span class="field-group block">
                    <textarea rows="3" class="span12" id="expired_url" placeholder="ex: www.att.com/myurl" ng-model="url.expiredurl" ></textarea>
                    <button type="button" class="reset-field hide-text">Reset field</button>
                </span>
                <label for="exp_date">Expiration Date</label>
                <div class="col-md-6">
                    <p class="input-group">
                        <input type="text" class="form-control" placeholder="dd-MM-yyyy" datepicker-popup="dd-MM-yyyy" ng-model="url.expireDate" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
                
                <div class="row-fluid-nowrap span12">
                    <share class="span4" style="float: left;"></share>         
                </div>
            </form>
        </div>
    </div>
</section>
