<section class="row main-content">
    <div class="span12">
        <div class="page-header">
            <h1>New URL</h1>
            <div class="pull-right">
                <p>Back <a href="#/home">Home</a></p>
            </div>
        </div>
        <hr class="hr-large">

        <div class="row-fluid-nowrap content-pad">
            <form>
                <label for="url_name">URL Name</label>
                <div class="field-group">
                    <input type="text" id="url_name" placeholder="ex: MyURL" class="span12" ng-model="url.urlName">
                    <button type="button" class="reset-field hide-text">Reset field</button>
                </div>
                <label for="category">Category</label>
                <select class="mod-select span3" id="category" ng-model="url.category">
                    <option value="xxx-1">Uverse</option>
                    <option value="xxx-2">Wireless</option>
                    <option value="xxx-3">Digital Life</option>
                    <option value="xxx-4">Business</option>
                </select>
                <label for="vanity_url">Custom URL</label>
                <div class="field-group">
                    <input type="text" id="vanity_url" placeholder="ex: www.att.com/myurl" class="span12" ng-model="url.vanityurl">
                    <button type="button" class="reset-field hide-text">Reset field</button>
                </div>
                <label for="long_url">My Long URL</label>
                <span class="field-group block">
                    <textarea rows="3" class="span12" id="long_url" ng-model="url.longurl"></textarea>
                    <button type="button" class="reset-field hide-text">Reset field</button>
                </span>
                <label for="expired_url">If Expired URL</label>
                <span class="field-group block">
                    <textarea rows="3" class="span12" id="expired_url"></textarea>
                    <button type="button" class="reset-field hide-text">Reset field</button>
                </span>
                <label for="exp_date">Expiration Date</label>
                <span class="field-group block">
                    <input type="text" placeholder="{{date}}" class="span12" data-provide="datepicker" required="required" id="exp_date">
                </span>
                <div class="row-fluid-nowrap content-pad">
                    <div class="span12">
                        <button ng-click="" class="btn btn-large btn-large btn-block" type="button" ng-click="getURL()">Get URL</button>
                    </div>
                </div>
            </form>
        </div>

        <hr class="hr-large">

    </div>
</section>