<section class="row main-content">
		<div class="span12">
			<div class="page-header">
				<h1>My URL History</h1>
				<div class="pull-right">
					<p>Back <a href="#/home">Home</a></p>
				</div>
			</div>
			<hr class="hr-large">
			
			<div class="row-fluid-nowrap content-pad">
				<dl>
   					<dt>Total Clicks</dt>
   					<dd>32</dd>
   					
   					<dt>Clicks This Week</dt>
   					<dd>12</dd>

   					<dt>URL Name</dt>
   					<dd>MyURLname</dd>
   					
   					<dt>Category</dt>
   					<dd>AT&amp;T</dd>

   					<dt>Vanity URL</dt>
   					<dd>Att.com/r/homeSecurityRebate.com</dd>

   					<dt>My Long URL</dt>
   					<dd>https://my-digitallife.att.com/learn/?WT.tsrc=ATTHomePageTile</dd>

   					<dt>URL if Expired</dt>
   					<dd>https://my-digitallife.att.com/learn/?WT.tsrc=ATTHomePageTile</dd>

   					<dt>Expiration Date</dt>
   					<dd>6/1/2015</dd>

				</dl>
			</div>
			
			<hr class="hr-large">
			
		</div>
	</section>