<section class="row main-content">
		<div class="span12">
			<div class="page-header">
				<h1>My URL History</h1>
				<div class="pull-right">
					<p>Back <a href="#/home">Home</a></p>
				</div>
			</div>
			<hr class="hr-large">
			
			<div class="row-fluid-nowrap content-pad">
				<dl>
   					<!--dt>Total Clicks</dt>
   					<dd>32</dd>
   					
   					<dt>Clicks This Week</dt>
   					<dd>12</dd-->

   					<dt>URL Name</dt>
   					<dd>{{url.urlName}}</dd>
   					
   					<dt>Category</dt>
   					<dd>{{url.category}}</dd>

   					<dt>Vanity URL</dt>
   					<dd>{{url.vanityurl}}</dd>

   					<dt>My Long URL</dt>
   					<dd>{{url.longurl}}</dd>

   					<dt>URL if Expired</dt>
   					<dd>{{url.expiredurl}}</dd>

   					<dt>Expiration Date</dt>
   					<dd>{{url.date}}</dd>

				</dl>
			</div>
			
			<hr class="hr-large">
			
		</div>
	</section>