<section class="row main-content">
    <div class="span12">
        <div class="page-header">
            <h1>URL Shortener</h1>
        </div>
        <hr class="hr-large">

        <div class="row-fluid-nowrap content-pad">
            <div class="span6">
                <a href="#/recommend"><button ng-click="" class="btn btn-large btn-large btn-block" type="button">Recommend</button></a>
            </div>
            <div class="span6">
                <a href="#/create"><button ng-click="" class="btn btn-large btn-large btn-block" type="button">Create URL</button></a>
            </div>
        </div>
        <hr class="hr-large">
        <div class="row-fluid" id="link-list"> 

            <div style="background-color: #f2f2f2; padding:10px 15px">
                <input type="text" ng-model="query" placeholder="Filter Links" class="search searchInput ui-input-text ui-body-c" />
            </div>				 
            <hr class="hr-large">
            <ul class="list">
                <li class="section-heading" ng-repeat-start="c in categories" >
                        {{c}}
                        <span class="aside">
                            Total: <strong>{{totals.length}}</strong>
                        </span>                     
                </li>              
                <li ng-repeat="u in totals = (urls| filter:{category:c}) | filter:query" ng-repeat-end><a href="#/report/{{u.idPk}}" class="shorturl" >{{u.urlName}}</a></li>
            </ul>
        </div>
        
    </div>
</section>