<section class="row main-content">
    <div class="span12">
        <div class="page-header">
            <div class="pull-left" style="width: 80px; top: 30px" >
                <a href="#">
                    <p><i class="cssIcon-chevron-r-b" style=" float: left; margin-right: 10px; margin-top: 2px;"></i>Back</p></a>
            </div>
            <h1>New URL</h1>
        </div>
        <hr class="hr-large">

        <div class="row-fluid-nowrap content-pad">
            <form>
                <label for="customer_email">Customer Email Address</label>  
                <div class="field-group">
                    <input type="text" id="customer_email" placeholder="ex: weolopez@bellsouth.net" class="span12" ng-model="email"/>
                    <button type="button" class="reset-field hide-text">Reset field</button>
                </div>
                
                <tdata class="row-fluid-nowrap content-pad span12" >
                    <div >
                    </div>
                </tdata>
                
                <div class="row-fluid-nowrap content-pad span12">
                    <div class="row-fluid-nowrap span12">
                        <button class="btn btn-large btn-large btn-block" type="button" ng-click="getRecommmendation()">Get Recommendation</button>
                    </div>
                </div>
            </form>
        </div>

        <hr class="hr-large">

    </div>
</section>