<section class="row main-content">
    <div class="span12">
        <div class="page-header">
            <div class="pull-left" style="width: 80px; top: 30px" >
                <a href="#">
                    <p><i class="cssIcon-chevron-r-b" style=" float: left; margin-right: 10px; margin-top: 2px;"></i>Back</p></a>
            </div>
            <h1>New URL</h1>
        </div>
        <hr class="hr-large">

        <div class="row-fluid-nowrap content-pad">
            <form>
                <label for="customer_email">Customer Email Address</label>  
                <div class="field-group">
                    <input type="text" id="customer_email" placeholder="ex: weolopez@bellsouth.net" class="span12" ng-model="email"/>
                    <button type="button" class="reset-field hide-text">Reset field</button>
                </div>

                <tdata class="row-fluid-nowrap content-pad span12" >
<div style="height: 225px; visibility: visible;" data-tdata-replace="tdataAnimate" data-tdata="IS8" id="IS8" class="grid_12 tdata" data-contentid="524f0d8bc40c120970a60b47" data-userid="anonymous" data-inventoryid="IS8" data-accountnumber="null" data-accounttype="undefined" data-useridtype="Email">

    <div class="invSpace wide-layout adOn" style="display: block; visibility: visible;">
        <a title="AT&amp;T Unlimited MicroCell Calling" class="imgWrap" href="http://www.att.com/shop/wireless/services/att-unlimited-microcell-calling-sku3890254.html?source=InTd000000000000L&amp;wtExtndSource=sku3890254" target="_blank" style="margin-top: 10px; width: 160px;">
            <img data-height="160" data-width="160" alt="AT&amp;T Unlimited MicroCell Calling" src="http://icds.portal.att.net/tdata/attdotcom/AT&amp;T-Unlimited-MicroCell-Calling-160x160.jpg" style="height: 160px;">
        </a>
        <div class="content">
            <h1 style="margin: 0px; font-size: 125%; line-height: 1.25;"><a data-tdata-original-name="AT&amp;T Unlimited MicroCell Calling" href="http://www.att.com/shop/wireless/services/att-unlimited-microcell-calling-sku3890254.html?source=InTd000000000000L&amp;wtExtndSource=sku3890254" target="_blank">AT&amp;T Unlimited MicroCell Calling</a><a class="tdata-expand" href="#">+</a></h1>
            <p data-tdata-text="Unlimited minutes. One low price! With the AT&amp;T Unlimited MicroCell Calling feature on your individual plan, you enjoy unlimited anytime calling from 3G MicroCell to anyone in the U.S. Now you can have peace of mind with a predictable bill each month." style="font-size: 85%;">Unlimited minutes. One low price! With the AT&amp;T Unlimited MicroCell Calling feature on your individual plan, you enjoy unlimited anytime calling from 3G MicroCell to anyone in the...</p> <a href="http://www.att.com/shop/wireless/services/att-unlimited-microcell-calling-sku3890254.html?source=InTd000000000000L&amp;wtExtndSource=sku3890254" target="_blank"><span style="font-size: 75%;">Learn More</span></a>
        </div>
    </div>
</div>
                </tdata>

                <div class="row-fluid-nowrap content-pad span12">
                    <div class="row-fluid-nowrap span12">
                        <button class="btn btn-large btn-large btn-block" type="button" ng-click="getRecommmendation()">Get Recommendation</button>
                    </div>
                </div>
            </form>
        </div>

        <hr class="hr-large">

    </div>
</section>