<section class="row main-content">
    <div class="span12">
        <div class="page-header">            
            <a href="#">
                <i class="cssIcon-chevron-r-b">Back</i>
            </a>
            <h1 class="span10">P2R T.Data Recommendation</h1>
        </div>
        <hr class="hr-large">
        <form>
            <div class="row-fluid-nowrap content-pad span12">
                <label for="customer_email">Customer Cell Phone Number</label>  
                <div class="field-group span10">
                    <input type="text" id="customer_email" placeholder="ex: 4045551234" class="span12" ng-model="email"/>
                    <button type="button" class="reset-field hide-text span2">Reset field</button>         
                </div>
                <button class="btn btn-small vcenter span2" type="button" ng-click="getRecommmendation()">Go</button>           
            </div>

            
            <div class="row-fluid-nowrap">
                <tdata class="row-fluid-nowrap content-pad span12" >
                    <div id="IS5" data-tdata="IS8" data-tdata-replace="tdataAnimate" class="tdata" style="visibility: visible;" data-contentid="524f0d8bc40c120970a60b43" data-userid="anonymous" data-inventoryid="IS5" data-accountnumber="null" data-accounttype="undefined" data-useridtype="Email">
                        <div class="adOn" style="display: block; visibility: visible;"><p>
                                <a data-tdata url="IS5" target="_blank" title="AT&amp;T Rest of World Travel Minutes 100" href="http://www.att.com/shop/wireless/services/rest-of-world-travel-minutes-100-sku6300271.html?source=InTd000000000000L&amp;wtExtndSource=sku6300271" class="imgLink TDataUrl" data-tdata-link="" alt="AT&amp;T Rest of World Travel Minutes 100">
                                    <img width="100" data-tdatasmallimage="IS5" alt="AT&amp;T Rest of World Travel Minutes 100" src="http://icds.portal.att.net/tdata/attdotcom/AT&amp;T-Rest-of-World-Travel-Minutes-100-160x160.jpg" class="TDataImageS" data-tdata-image="" style="">
                                </a><br/>
                                <span data-tdata-name="" class="TDataTextS">AT&amp;T Rest of World Travel Minutes 100</span>
                            </p>
                            <p style="margin: 5px;" data-tdata-description></p>
                            <p><a target="_blank" href="http://www.att.com/shop/wireless/services/rest-of-world-travel-minutes-100-sku6300271.html?source=InTd000000000000L&amp;wtExtndSource=sku6300271" class="TDataUrl" data-tdata-link="" title="AT&amp;T Rest of World Travel Minutes 100" alt="AT&amp;T Rest of World Travel Minutes 100">Learn More &gt;</a></p></div></div>
                </tdata>
            </div>
        </form>
        <share></share>
    </div>
</section>
