<section class="row main-content">
    <div class="span12">
        <div class="page-header">
            <div class="pull-left" style="width: 80px; top: 30px" >
                <a href="#">
                    <p><i class="cssIcon-chevron-r-b" style=" float: left; margin-right: 10px; margin-top: 2px;"></i>Back</p></a>
            </div>
            <h1>My URL Report</h1>
            <div class="pull-right" style="width: 125px;top: 30px; margin-top: -29px" ng-click="goToHistory()">
                    <p style="float: left; margin-right: 10px; margin-top: 2px;">Short URL Details 
                        <i class="cssIcon-chevron-l-b" style="float: right;margin-left: 20px;margin-top: -15px;"></i>
                    </p>
            </div>
        </div>
        <hr class="hr-large">



        <div class="row-fluid" id="link-list"> 

            <div style="background-color: #f2f2f2; padding:10px 15px">
                <input type="text" placeholder="Filter Links" class="search searchInput ui-input-text ui-body-c" />
            </div>				 

            <hr class="hr-large">

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">Domain</th>
                        <th scope="col"># Clicks</th>

                    </tr>
                </thead>
                <tbody class="list">
                    <tr ng-repeat="d in domains">
                        <td class="shorturl">{{d.domain}}</td>
                        <td>{{d.totalClicks}}</td>
                    </tr>
                </tbody>
            </table>


        </div>
        <script type="text/javascript">


                    var options = {
                        valueNames: ['shorturl']
                    };

                    var shorturlList = new List('link-list', options);

        </script>
    </div>
</section>