<div>
    <div style="display:block;width: 95%;margin: 10px;padding: 10px;">   
        <h2 style="width: 100%;text-align: center">Send SMS</h2>
        <label for="tn">Phone Number</label>
        <div class="field-group">
            <input type="text" id="tn" placeholder="ex: 4045551234" class="span12" ng-model="sms.tn">
            <button type="button" class="reset-field hide-text">Reset field</button>
        </div>

        <label for="message">Text Message Body</label>
        <span class="field-group block">
            <textarea rows="3" class="span12" id="message" placeholder="Tell your user how this link helps them." ng-model="sms.message" ></textarea>
            <button type="button" class="reset-field hide-text">Reset field</button>
        </span>
        <button class="btn btn-small vcenter span2" type="button" ng-click="sendSMS()">Go</button>      
    </div>
</div>

